<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Guinean Education</div>
  <div class="list-group list-group-flush">
    <a href="{% url 'admin-dashboard' %}" class="list-group-item list-group-item-action bg-light">Dashboard</a>

    <a href="#directionsSubmenu" class="list-group-item list-group-item-action bg-light" data-toggle="collapse" aria-expanded="false">Directions and Services</a>
    <div class="collapse list-group-submenu" id="directionsSubmenu">
      <a href="{% url 'create_service' %}" class="list-group-item list-group-item-action bg-light pl-4">Add Service</a>
      <a href="{% url 'admin.manage_service' %}" class="list-group-item list-group-item-action bg-light pl-4">Manager Service</a>
      <!--<hr>
      <a href="#" class="list-group-item list-group-item-action bg-light pl-4">Direction 1</a>
      <a href="#" class="list-group-item list-group-item-action bg-light pl-4">Direction 2</a>-->
    </div>

    <a href="#staffSubmenu" class="list-group-item list-group-item-action bg-light" data-toggle="collapse" aria-expanded="false">Service Employees</a>
    <div class="collapse list-group-submenu" id="staffSubmenu">
      <a href="{% url 'register_employee' %}" class="list-group-item list-group-item-action bg-light pl-4">Add Employee</a>
      <a href="{% url 'admin.manage_employee' %}" class="list-group-item list-group-item-action bg-light pl-4">Manager Employees</a>
    </div>

    <a href="#schoolsSubmenu" class="list-group-item list-group-item-action bg-light" data-toggle="collapse" aria-expanded="false">Schools</a>
    <div class="collapse list-group-submenu" id="schoolsSubmenu">
      <a href="#" class="list-group-item list-group-item-action bg-light pl-4">Add School</a>
      <a href="#" class="list-group-item list-group-item-action bg-light pl-4">Manager School</a>
    </div>

    <a href="#teachersSubmenu" class="list-group-item list-group-item-action bg-light" data-toggle="collapse" aria-expanded="false">Teachers</a>
    <div class="collapse list-group-submenu" id="teachersSubmenu">
      <a href="#" class="list-group-item list-group-item-action bg-light pl-4">Add Teacher</a>
      <a href="#" class="list-group-item list-group-item-action bg-light pl-4">Manager Teacher</a>
    </div>

    <a href="#studentsSubmenu" class="list-group-item list-group-item-action bg-light" data-toggle="collapse" aria-expanded="false">Students</a>
    <div class="collapse list-group-submenu" id="studentsSubmenu">
      <a href="#" class="list-group-item list-group-item-action bg-light pl-4">Manage Student</a>
      <a href="#" class="list-group-item list-group-item-action bg-light pl-4">Student</a>
    </div>

    <a href="#programSubmenu" class="list-group-item list-group-item-action bg-light" data-toggle="collapse" aria-expanded="false">National Program</a>
    <div class="collapse list-group-submenu" id="programSubmenu">
      <a href="#" class="list-group-item list-group-item-action bg-light pl-4">Program</a>
      <a href="#" class="list-group-item list-group-item-action bg-light pl-4">Manage Program</a>
    </div>

    <a href="#rapportsSubmenu" class="list-group-item list-group-item-action bg-light" data-toggle="collapse" aria-expanded="false">Rapports</a>
    <div class="collapse list-group-submenu" id="rapportsSubmenu">
      <a href="#" class="list-group-item list-group-item-action bg-light pl-4">Daily report</a>
      <a href="#" class="list-group-item list-group-item-action bg-light pl-4">Weekly report</a>
      <a href="#" class="list-group-item list-group-item-action bg-light pl-4">Monthly report</a>
      <a href="#" class="list-group-item list-group-item-action bg-light pl-4">Quarterly report</a>
      <a href="#" class="list-group-item list-group-item-action bg-light pl-4">Semi-annual report</a>
      <a href="#" class="list-group-item list-group-item-action bg-light pl-4">Annual report</a>
    </div>
  </div>
</div>


