{% extends 'service/layout.html' %}

{% block content %}
<div class="container mt-5">

    <div class="card" style="margin-top:100px;">
        <div class="card-header"><h4>Assigner une matière à un enseignant</h4></div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ teaching_form.as_p }}
                <button type="submit">Attribuer</button>
            </form>
            <p><a href="{% url 'teacher_list' %}">Retour à la liste des enseignants</a></p>
        </div>
    </div>
</div>
{% endblock %}
