{% extends 'service/layout.html' %}

{% block title %}DPE Dashboard{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h3 mt-3">Dashboard</h1>
    </div>

      <!-- Content -->
    <div class="row">
        <div class="col-md-3">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Total Students</h5>
              <h1 class="card-text">500</h1>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Total Teachers</h5>
              <h1 class="card-text">50</h1>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Total Students</h5>
              <h1 class="card-text">500</h1>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Total Teachers</h5>
              <h1 class="card-text">50</h1>
            </div>
          </div>
        </div>
        <!-- More content here -->
    </div>

</div>
{% endblock %}