{% extends 'admin/master_admin.html' %}

{% block content %}

<div class="row justify-content-center ">
    <div class="col">

        <div class="card mb-4">
            <div class="card-header">Create Program</div>

            <div class="card-body">

                {% if messages %}
                    {% for message in messages %}
                        <div>{{ message }}</div>
                    {% endfor %}
                {% endif %}

                <form method="post">
                    {% csrf_token %}
                    {{ program_form.as_p }}
                    <button type="submit">Create Program</button>
                </form>

            </div>

        </div>

    </div>
</div>

{% endblock %}