{% extends 'admin/master_admin.html' %}

{% block content %}


<div class="card mb-4">
    <div class="d-flex justify-content-between card-header">
        <h4 class="mt-3 mb-2 my-3">List of Schools</h4>
        <form method="get" action="{% url 'list_schools' %}" class="form-inline mb-2 my-3">
            <input type="text" name="q" class="form-control mr-2" placeholder="Search by name" value="{{ query }}" style="width:120px;">
            <input type="text" name="direction" class="form-control mr-2" placeholder="Search by direction" value="{{ direction_query }}" style="width:120px;">
            <input type="text" name="ire" class="form-control mr-2" placeholder="Search by ire" value="{{ ire_query }}" style="width:120px;">
            <input type="text" name="type" class="form-control mr-2" placeholder="Search by type" value="{{ type_query }}" style="width:120px;">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Founder</th>
                        <th>Direction</th>
                        <th>Type</th>
                        <th>Level</th>
                        <th>Address Email</th>
                        <th>Site Web</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for school in schools %}
                    <tr>
                        <td>{{school.name}}</td>
                        {% if school.founder == null %}
                            <td>{{school.direction.name}}</td>
                        {% else %}
                            <td>{{school.founder.lastname}} {{school.founder.lastname}}</td>
                        {% endif %}
                        <td>{{school.direction.name}}</td>
                        <td>{{school.type}}</td>
                        <td>{{school.level}}</td>
                        <td>{{school.address_email}}</td>
                        <td><a href="{{ school.site_web }}">{{ school.site_web }}</a></td>
                        <td>
                            <a href="{% url 'detail_school' school.id %}" class="btn btn-info btn-sm">Voir</a>
                            <a href="#" class="btn btn-warning btn-sm">Modifier</a>
                            <a href="#" class="btn btn-danger btn-sm">Supprimer</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}