<!-- Dans votre fichier register.html -->

{% extends 'core/layout/layout.html' %}
{% block content %}
<div class="container">
  <h2>Register</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
  {% if founder_form %}
  <h2>Founder Details</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ founder_form.as_p }}
    <button type="submit" class="btn btn-primary">Register Founder</button>
  </form>
  {% endif %}
</div>
{% endblock %}
