{% extends 'admin/master_admin.html' %}

{% block content %}

<div class="card mb-4">

    <div class="d-flex justify-content-between card-header my-2">
        <div class="title h5" style="margin-top: 10px;">Manage Teachers</div>
        <div class="d-flex search_and_add">
            <div class="search">
                <form class="form-inline float-right" method="get">
                    <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search" value="{{ query }}">
                    <button class="btn btn-outline-success my-1 my-sm-0" type="submit">Search</button>
                </form>
            </div>

            <a href="{% url 'create_teacher' %}" class="btn btn-info btn-sm ml-1 text-center my-1">Add New Teacher</a>
        </div>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Lastname</th>
                        <th>Firstname</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for teacher in teachers %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ teacher.lastname }}</td>
                            <td>{{ teacher.firstname }}</td>
                            <td>{{ teacher.phone }}</td>
                            <td>{{ teacher.user.email }}</td>
                            <td>{{ teacher.status }}</td>
                            <td>
                                <a href="{% url 'delete_teacher' teacher.id %}" class="btn btn-danger btn-sm">Delete</a>
                                <a href="{% url 'edit_teacher' teacher.id %}" class="btn btn-warning btn-sm">Edit</a>
                                <a href="{% url 'detail_teacher' teacher.id %}" class="btn btn-info btn-sm">Show</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">

        <!-- Pagination -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if teachers.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ teachers.previous_page_number }}{% if query %}&q={{ query }}{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% endif %}
            {% for num in teachers.paginator.page_range %}
                <li class="page-item {% if teachers.number == num %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}{% if query %}&q={{ query }}{% endif %}">{{ num }}</a>
                </li>
            {% endfor %}
            {% if teachers.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ teachers.next_page_number }}{% if query %}&q={{ query }}{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

    </div>

</div>

{% endblock %}