{% extends 'layout.html' %}

{% block content %}

    <div class="container mt-5">
        <div class="row justify-content-center" style="margin-bottom:100px;margin-top: 120px;">
            <div class="col-md-6">
                <div class="card" style="">
                    <div class="card-header">
                        <h4 class="card-title text-center">Login</h4>
                    </div>
                    <div class="card-body">

                        <form method="post">
                          {% csrf_token %}
                          {{ form.as_p }}
                          <div class="d-flex justify-content-between">
                              <button type="submit" class="btn btn-info btn-sm text-white">Login</button>
                              <a href="{% url 'register' %}" class="btn btn-info btn-sm text-white">Or Register</a>
                          </div>
                        </form>
                        {% if messages %}
                          <ul class="messages">
                            {% for message in messages %}
                              <li {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }}</li>
                            {% endfor %}
                          </ul>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}