{% extends 'admin/master_admin.html' %}

{% block content %}

<div class="card mb-5">
    <div class="card-header">Register Employee</div>
    <div class="card-body" style="margin-bottom:200px;">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-4">
                    <div class="card-header">Account Information</div>
                    <div class="card-body">
                        {{ user_form.as_p }}
                    </div>
                </div>

                <!--<div class="col-8">
                    <div class="card-header">Employee Information</div>
                    <div class="card-body">
                        {{ employee_form.as_p }}
                    </div>
                </div>-->

                <div class="col-8">
                    <div class="card-header">Employee Information</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                {{ employee_form.lastname.label_tag }} {{ employee_form.lastname }}
                            </div>
                            <div class="col-md-6">
                                {{ employee_form.firstname.label_tag }} {{ employee_form.firstname }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ employee_form.date_of_birth.label_tag }} {{ employee_form.date_of_birth }}
                            </div>
                            <div class="col-md-6">
                                {{ employee_form.gender.label_tag }} {{ employee_form.gender }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ employee_form.phone.label_tag }} {{ employee_form.phone }}
                            </div>
                            <div class="col-md-6">
                                {{ employee_form.position.label_tag }} {{ employee_form.position }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ employee_form.status.label_tag }} {{ employee_form.status }}
                            </div>
                            <div class="col-md-6">
                                {{ employee_form.formation.label_tag }} {{ employee_form.formation }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ employee_form.address.label_tag }} {{ employee_form.address }}
                            </div>
                            <div class="col-md-6">
                                {{ employee_form.photo.label_tag }} {{ employee_form.photo }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ employee_form.certificate.label_tag }} {{ employee_form.certificate }}
                            </div>
                            <div class="col-md-6">
                                {{ employee_form.service.label_tag }} {{ employee_form.service }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <button class="justify-content-center btn btn-primary mt-3" type="submit">Register</button>
        </form>
    </div>
</div>

{% endblock %}