<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar">
    <div class="position-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active round-3" aria-current="page" href="{% url 'service_dashboard' %}">
              <i class="fas fa-tachometer-alt me-2"></i>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#schoolSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="fas fa-school me-2"></i>
              School
            </a>
            <ul class="collapse nav flex-column ms-3" id="schoolSubmenu">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'create_school' %}">Add School</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Admissions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Events</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#studentsSubmenu" data-bs-toggle="collapse" aria-expanded="false">
              <i class="fas fa-user-graduate me-2"></i>
              Students
            </a>
            <ul class="collapse nav flex-column ms-3" id="studentsSubmenu">
              <li class="nav-item">
                <a class="nav-link" href="#">All Students</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Grades</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Attendance</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#teachersSubmenu" data-bs-toggle="collapse" aria-expanded="false">
              <i class="fas fa-chalkboard-teacher me-2"></i>
              Teachers
            </a>
            <ul class="collapse nav flex-column ms-3" id="teachersSubmenu">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'create_teacher' %}">Add Teacher</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'teacher_by_direction' %}">Manage Teacher</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Attendance</a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#subjectsSubmenu" data-bs-toggle="collapse" aria-expanded="false">
              <i class="fas fa-chalkboard-teacher me-2"></i>
              Subjects
            </a>
            <ul class="collapse nav flex-column ms-3" id="subjectsSubmenu">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'create_subject' %}">Add Subject</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'list_subject' %}">Manage Subject</a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-user-friends me-2"></i>
              Parents
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-users me-2"></i>
              Employees
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-user-shield me-2"></i>
              Staff
            </a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-tools me-2"></i>
              Service Directions
            </a>
          </li>-->
        </ul>
      </div>
</nav>